.container {
    width: 180px;
    height: 180px;
    z-index: 1;
}
.GradientBorder {
    position: relative;
    width: 180px;
    height: 180px;
    padding: 40px 0;
    font-size: 5em;
    color: #fff;
    text-align: center;
    /* letter-spacing: 5px; */
    /* background: #020117; */
    border-radius: 50%;
}
.GradientBorder::after {
    animation: animate 2s alternate-reverse infinite;
    content: "";
    position: absolute;
    top: -3px;
    left: -3px;
    right: -3px;
    bottom: -3px;
    background: linear-gradient(
        45deg,
        #00e1ffb6,
        #00e1ffb6,
        #00a2ffb6,
        #00a2ffb6
    );
    z-index: -1;
    border-radius: 50%;
}
.GradientBorder::before {
    content: "";
    /* animation: animate 2s infinite; */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
        45deg,
        #00e1ffb6,
        #00e1ffb6,
        #00a2ffb6,
        #00a2ffb6
    );
    z-index: -2;
    filter: blur(20px);
    border-radius: 50%;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 950px) {
    .container {
        width: 120px;
        height: 120px;
    }
    .GradientBorder {
        width: 120px;
        height: 120px;
    }
}
