.tooltip {
    position: relative;
    display: inline-block;
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    width: 150px;
    background-color: black;
    padding: 10px 2px;
    border-radius: 6px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }

  .tooltip .tooltiptext {
    width: 150px;
    bottom: 105%;
    left: 45%;
    margin-left: -75px; /* Use half of the width (120/2 = 60), to center the tooltip */
  }

  .tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }

  .tooltip .tooltiptext {
    transition: opacity 1s;
  }